@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

:root {
    --candy-apple: #A11B1B;
    --ghost: #FAF7ED;
    --jack-o-lantern: #D05301;
    --black-cat: #483D3C;
}

html {
    font-family: 'Rye', cursive;
}